################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DomainEvents/bin
/DomainEvents/obj
/DomainEventsConsole/bin
/DomainEventsConsole/obj
/DomainEventsWeb/bin/Debug/net8.0
/DomainEventsWeb/obj
/DomainEventsWeb/DomainEventsWeb.csproj.user
